/* [class*="col-xs-"]{
    border: 2px solid red;
    height: 300px;
} */

.green,
.blue{
    height: 300px;
    border: 2px solid black;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}